body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

   background-image: url('../bilder/stage.png');
   background-size: auto;
  
}

h1,span{position:absolute;z-index:3;font-family:monospace;color:#fff}
span{top:2rem}
canvas{position: relative;z-index:2;}
.dotes{position:absolute;z-index:1;top:0;
    bottom:0;
    right:0;
		left: 0;
    background-image: radial-gradient(#161616 20%,transparent 20%);
    background-position: 0 0,20px 20px;
    background-size: 40px 40px;}

.fx{display:flex}
.fdc{flex-direction:column}